<h4>This is the new page</h4>

<%= form_tag "/boats", method: :post do %>
  <p>Title: <input type="text" name="title"></p>
  <p>capacity: <input type="text" name="capacity"></p>
  <p>color: <input type="text" name="color"></p>
  <p>price: <input type="text" name="price"></p>
  <input type="submit" value="Make a boat">
<% end %>